.middle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.stories-container {
    display: grid;
    grid-template-columns: 130px 130px 130px 130px;
    column-gap: 15px;
}

.create-story-container,
.friends-story-container {
    height: 200px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

.story-profile-picture {
    width: 130px;
    height: 152px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.create-story-button {
    font-size: 20px;
    position: absolute;
    left: 44px;
    top: 135px;
    background-color: rgb(27, 116, 228);
    color: white;
    border: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}

.create-story {
    margin-top: -5px;
    font-size: 13px;
    text-align: center;
    white-space: nowrap;
    bottom: 388px;
    background-color: white;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 5px;
    padding-top: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 500;
}

.friends-story-container {
    position: relative;
    cursor: pointer;
}

.story-friends-profile-picture {
    position: absolute;
    width: 35px;
    object-fit: cover;
    object-position: center;
    border-radius: 50px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(27, 116, 228);
    margin-right: 10px;
    cursor: pointer;
    left: 8px;
    top: 8px;
}

.friends-story {
    width: 130px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}

.friends-name {
    position: absolute;
    font-size: 13px;
    color: white;
    font-weight: bold;
    bottom: 10px;
    left: 10px;
    padding-right: 5px;
    word-break: break-word;
}

.story-fade {
    position: absolute;
    background-color: black;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: opacity, 0.15s;
}

.friends-story-container:hover .story-fade {
    opacity: 0.1;
}

.create-story-container:hover .story-fade {
    opacity: 0.1;
}

.create-post-container {
    margin-top: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 535px;
    border-radius: 10px;
    box-shadow:  0px 1px 10px rgba(112, 110, 110, 0.1);
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 8px;
}

.create-post-upper-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.create-post-profile-picture {
    width: 45px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    margin-right: 15px;
    cursor: pointer;
    transition: opacity, 0.15s;
}

.create-post-profile-picture:hover {
    opacity: 0.9;
}

.write-something {
    height: 40px;
    padding: 0;
    margin: 0;
    margin-left: -2px;
    border: none;
    background-color: rgba(240, 242, 245);
    font-family: Roboto, Arial;
    font-size: 17px;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
    transition: background-color, 0.15s;
}

.write-something:placeholder-shown {
    font-size: 15px;
    font-family: Roboto, Arial;
    padding-left: 10px;
}

.write-something:hover {
    background-color: rgb(204, 206, 211);
}

.create-post-middle-container {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgba(101, 103, 107, 0.2);
    height: 1.5px;
}

.create-post-bottom-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.live-video-container,
.photo-and-video-container,
.feeling-and-activity-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color, 0.15s;
}

.live-video-container:hover,
.photo-and-video-container:hover,
.feeling-and-activity-container:hover {
    background-color: rgba(101, 103, 107, 0.2);
}

.live-video,
.photo-and-video,
.feeling-and-activity {
    font-size: 15px;
    color: rgb(101, 103, 107);
    white-space: nowrap;
}

.live-video-icon,
.photo-and-video-icon,
.feeling-and-activity-icon {
    width: 30px;
    margin-right: 5px;
}

.post-grid {
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 30px;
    width: 565px;
    margin-top: 30px;
}

.post-container {
    background-color: white;
    width: 535px;
    padding: 15px;
    padding-bottom: 5px;
    border-radius: 10px;
    box-shadow:  0px 1px 10px rgba(112, 110, 110, 0.1);
}

.post-top-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-author-picture-container {
    position: relative;
    cursor: pointer;
}

.post-author-picture {
    width: 45px;
    object-fit: cover;
    object-position: center;
    border-radius: 50px;
    margin-right: 10px;
}

.post-fade {
    position: absolute;
    background-color: black;
    border-radius: 50px;
    width: 45px;
    height: 45px;
    top: 0;
    opacity: 0;
    transition: opacity, 0.15s;
}

.post-author-picture-container:hover .post-fade{
    opacity: 0.1;
}

.post-author-name {
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: text-decoration, 0.15s;
}

.post-author-name:hover {
    text-decoration: underline;
}

.post-middle-container {
    margin-top: 10px;
}

.post-time {
    font-size: 13px;
    color: rgb(101, 103, 107);
    margin-top: 5px;
    cursor: pointer;
    transition: text-decoration, 0.15s;
}

.post-time:hover {
    text-decoration: underline;
}

.post-content {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 20px;
}

.post-content-without-image {
    font-size: 15px;
    line-height: 20px;
}

.post-image {
    margin-left: -15px;
    width: 105.7%;
    cursor: pointer;
}

.post-bottom-container {
    display: flex;
    flex-direction: column;
}

.post-bottom-container-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
}

.likes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.first-emoji {
    width: 18px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 20px;
    z-index: 2;
    cursor: pointer;
}

.second-emoji {
    border-radius: 20px;
    margin-left: -2px;
    cursor: pointer;
}

.likes-number {
    margin-left: 5px;
    font-size: 15px;
    color: rgb(101, 103, 107);
    cursor: pointer;
    transition: text-decoration, 0.15s;
}

.comments-and-shares {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comments {
    font-size: 15px;
    color: rgb(101, 103, 107);
    cursor: pointer;
    transition: text-decoration, 0.15s;
    margin-right: 5px;
}

.shares {
    font-size: 15px;
    color: rgb(101, 103, 107);
    cursor: pointer;
    transition: text-decoration, 0.15s;
}

.likes-number:hover,
.comments:hover,
.shares:hover {
    text-decoration: underline;
}

.post-bottom-container-middle {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: rgba(101, 103, 107, 0.2);
    height: 1px;
}

.post-bottom-container-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.like-post-container,
.comment-post-container,
.share-post-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    padding: 5px 55px;
    cursor: pointer;
    transition: background-color, 0.15s;
}

.like-post-container:hover,
.comment-post-container:hover,
.share-post-container:hover {
    background-color: rgba(101, 103, 107, 0.2);
}

.like-post,
.comment-post,
.share-post {
    font-size: 15px;
    color: rgb(101, 103, 107);
    white-space: nowrap;
}

.like-post-icon,
.comment-post-icon {
    width: 20px;
    margin-right: 5px;
}

.share-post-icon {
    width: 22px;
    height: 20px;
    margin-right: 3px;
}
