.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgb(228, 228, 288);
    box-shadow: 0 2px 10px rgba(112, 110, 110, 0.2);
}

.left-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
}

.facebook-logo {
    width: 40px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

.search-bar-container {
    background-color: rgb(240, 242, 245);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    border-radius: 20px;
    margin-left: 10px;
}

.search-icon {
    width: 18px;
    padding: 0 12px;
    margin: 0;
    padding-right: 8px;
}

.search-bar {
    height: 34px;
    padding: 0;
    margin: 0;
    margin-left: -2px;
    border: none;
    background-color: rgba(240, 242, 245);
    font-family: Roboto, Arial;
    font-size: 17px;
    border-radius: 20px;
    width: 200px;
    outline: none;
}

.search-bar::placeholder {
    font-size: 15px;
    font-family: Roboto, Arial;
}

.right-section {
    margin-right: 30px;
    width: 190px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu-container,
.messenger-container,
.notifications-container,
.profile-picture-container {
    background-color: rgb(228, 230, 235);
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: background-color, 0.15s;
}

.menu-container:hover,
.messenger-container:hover,
.notifications-container:hover,
.profile-picture-container:hover {
    background-color: rgb(204, 206, 211);
}

.menu-container .tooltip,
.messenger-container .tooltip,
.notifications-container .tooltip,
.profile-picture-container .tooltip {
    font-family: Roboto, Arial;
    font-size: 12px;
    background-color: rgb(62, 60, 60);
    color: white;
    padding: 8px;
    border-radius: 10px;
    position: absolute;
    bottom: -35px;
    opacity: 0;
    transition: opacity, 0.15s;
    pointer-events: none;
    white-space: nowrap;
    box-shadow: 0px 2px 2px rgba(112, 110, 110, 0.5);
}

.menu-container:hover .tooltip,
.messenger-container:hover .tooltip,
.notifications-container:hover .tooltip,
.profile-picture-container:hover .tooltip {
    opacity: 1;
}

.messenger-count,
.notifications-count {
    position: absolute;
    top: -4px;
    right: -5px;
    background-color: rgb(224, 4, 4);
    color: white;
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}

.menu-icon {
    height: 12px;
}

.messenger-icon,
.notifications-icon {
    height: 20px;
}

.profile-picture {
    width: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}